---
layout: page
title: "Blog"
header-img: "img/minneapolis_skyline2.jpg"
category: "blog"
---

{% for post in site.posts %}
{% if post.category == page.category %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
          {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        <h4 class="post-subtitle">
          {{post.description}}
        </h4>
    </a>
	<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div>
</div>
<hr>
{% endif %}
{% endfor %}