---
layout: page
title: "Projects"
category: "projects"
---
<h2 class="experience-header">School Projects</h2>
{% for post in site.posts %}
{% if post.category == "school" %}
<div class="experience">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="experience-title ">
          {{ post.title }}
        </h2>
    </a>
    <h3 class="experience-subtitle">
        {{ post.subtitle }}
    </h3>
    <h4 class="experience-subtitle">
      {{post.description}}
    </h4>
</div>
{% endif %}
{% endfor %}
<h2 class="experience-header">Personal Projects</h2>
{% for post in site.posts %}
{% if post.category == "personal" %}
<div class="experience">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="experience-title">
          {{ post.title }}
        </h2>
    </a>
    <h3 class="experience-subtitle">
        {{ post.subtitle }}
    </h3>
    <h4 class="experience-subtitle">
      {{post.description}}
    </h4>
</div>
{% endif %}
{% endfor %}