<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
            <a href="https://github.com/vchapman">
             <div style="width: 50%">
               <div class="bg-git-svg">

               </div>
             </div>
            </a>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://www.linkedin.com/in/val-chapman-18a15a107/">
              <div style="width: 50%">
               <div class="bg-linked-svg">

               </div>
             </div>
            </a>
      </div>
    </div>

  </div>

</footer>